JobSystemDOTS/JobSystemDOTS/Library/
JobSystemDOTS/JobSystemDOTS/Temp/
JobSystemDOTS/JobSystemDOTS/obj/
JobSystemDOTS/JobSystemDOTS/Logs/
JobSystemDOTS/JobSystemDOTS/UserSettings/
JobSystemDOTS/JobSystemDOTS/.vs/
