JobSystemDOTS/JobSystemDOTS/Library/
JobSystemDOTS/JobSystemDOTS/Temp/
JobSystemDOTS/JobSystemDOTS/obj/
JobSystemDOTS/JobSystemDOTS/Logs/
JobSystemDOTS/JobSystemDOTS/UserSettings/
JobSystemDOTS/JobSystemDOTS/.vs/
ECS_Dots/Library/
ECS_Dots/Temp/
ECS_Dots/UserSettings/
ECS_Dots/Logs/
